#menuurubto {
    margin-right: 1em;
}
.nanana {
    justify-content: space-between;
}
ul#MenuuM {
    width: 100% !important;
    display: flex !important;
    margin-bottom: 0 !important;
}
.apartatssM ul .lidivv{
    display: flex;
    flex-direction: row;
}
.textApartats {
    padding-left: 4em;
}
.textApartats h3 {
    padding-left: 1em;
}
.textApartats ul, .textApartats ol {
    padding-left: 6em;
}

#uncontrolled-tab-example-tab-inici {
    background-color: #ffffff9a;
}
#uncontrolled-tab-example-tab-inici a {
    text-decoration: none;
    color: #526877;
}