.apartatss #menu {
    position: absolute;
}
.apartatss #menu {
    bottom: 2vh;
    right: 2em;
}
/*
.apartatss #menu {
    bottom: 10px;
    right: 2em;
}
.apartatss #menu {
    top: 92vh;
    right: 2em;
}
@media screen and (max-height: 1240px) {
    .apartatss #menu {
        top: 830px;
        right: 2em;
    }
}
@media screen and (max-height: 1100px) {
    .apartatss #menu {
        top: 675px;
        right: 2em;
    }
}
@media screen and (max-height: 980px) {
    .apartatss #menu {
        top: 550px;
        right: 2em;
    }
}
@media screen and (max-height: 900px) {
    .apartatss #menu {
        top: 480px;
        right: 2em;
    }
}
@media screen and (max-height: 700px) {
    .apartatss #menu {
        top: 270px;
        right: 0.4em;
    }
}*/